export EDITOR=nvim

typeset -U PATH path

{{ if eq .chezmoi.os "darwin" }}
# Resets paths on MacOS. No longer necessary?
#eval "$(PATH="" /usr/libexec/path_helper)"

export SSH_SK_PROVIDER=/usr/lib/ssh-keychain.dylib

if [ -f /opt/homebrew/bin/brew ]; then
    eval $(/opt/homebrew/bin/brew shellenv zsh)
fi

path=(
    "/opt/homebrew/opt/gnu-tar/libexec/bin"
    "/opt/homebrew/opt/python/libexec/bin"
    "/Applications/Docker.app/Contents/Resources/bin"
    "$HOME/.local/bin"
    $path
)

fpath=(
    "/opt/homebrew/share/zsh/site-functions"
    $fpath
)

# Homebrew options
export HOMEBREW_NO_ENV_HINTS=true
export HOMEBREW_BAT=true

# for rip
export RIP_GRAVEYARD="$HOME/.Trash"
{{ else if eq .chezmoi.os "linux" }}
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

export HOMEBREW_NO_ENV_HINTS=true
export HOMEBREW_BAT=true
{{ end }}

# For Docker
export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1

if [ -e "$HOME/.cargo/env" ]; then
    source "$HOME/.cargo/env"
fi

path=(
    $path
)
export path

export XZ_DEFAULTS="-T0"
export ZSTD_CLEVEL="6"
export ZSTD_NBTHREADS="0"

export CLICOLOR=1
export LSCOLORS=ExGxBxDxCxEgEdxbxgxcxd

# vim: set ft=zsh ts=4 sw=4 et :
