export EDITOR=nvim

typeset -U PATH path
typeset -U fpath

export HOMEBREW_NO_ENV_HINTS=true
export HOMEBREW_BAT=true
export HOMEBREW_REQUIRE_TAP_TRUST=1

{{ if eq .chezmoi.os "darwin" }}
export SSH_SK_PROVIDER=/usr/lib/ssh-keychain.dylib

fpath=(
    "/opt/homebrew/share/zsh/site-functions"
    $fpath
)

export RIP_GRAVEYARD="$HOME/.Trash"
{{ else if eq .chezmoi.os "linux" }}
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

path=(
    "$HOME/.local/bin"
    $path
)

export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1

export XZ_DEFAULTS="-T0"
export ZSTD_CLEVEL="6"
export ZSTD_NBTHREADS="0"

export CLICOLOR=1
export LSCOLORS=ExGxBxDxCxEgEdxbxgxcxd

export PATH

# vim: set ft=zsh ts=4 sw=4 et :
