{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

brew bundle --file=/dev/stdin <<'BREWFILE'
{{ range .packages.brew -}}
brew "{{ . }}"
{{ end -}}
{{ range .packages.brew_darwin_extra -}}
brew "{{ . }}"
{{ end -}}
BREWFILE
{{- end -}}
