{{- $isAmazonLinux := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $isAmazonLinux = and (eq .chezmoi.osRelease.id "amzn") (contains "2023" (index .chezmoi.osRelease "versionID" | default "")) -}}
{{- end -}}
{{- if $isAmazonLinux -}}
#!/bin/bash
set -euo pipefail

sudo dnf groupinstall -y "Development Tools"
sudo dnf install -y curl file git procps-ng

{{ template "brew-install.sh" . }}
{{- end -}}
