#!/bin/sh

# key.txt.age hash: {{ include "key.txt.age" | sha256sum }}
{{- $excludeEncrypted := contains "--exclude encrypted" (join " " .chezmoi.args) }}
{{ if $excludeEncrypted -}}
echo "SKIPPING SETUP OF AGE!"
echo "I won't be able to decrypt any encrypted files!"
{{- else -}}
if [ ! -f "$CHEZMOI_DEST_DIR/.config/chezmoi/key.txt" ]; then
  mkdir -p "$CHEZMOI_DEST_DIR/.config/chezmoi"
  {{ .chezmoi.executable }} age decrypt --output "$CHEZMOI_DEST_DIR/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "$CHEZMOI_DEST_DIR/.config/chezmoi/key.txt"
fi
{{- end }}
